* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background: #fff;
}
.stopwatch {
	width: 90%;
	max-width: 500px;
	background: #fff;
	text-align: center;
	padding: 20px 0;
	color: #000;
	margin: 200px auto 0;
	border-radius: 15px;
	box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.5);
}
.stopwatch h1 {
	margin: 20px;
	font-size: 60px;
	font-weight: 300;
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.buttons img {
	width: 40px;
	margin: 0 20px;
	cursor: pointer;
}
.buttons img:nth-child(2) {
	width: 60px;
}
